{{define "styles"}}
    <link rel="stylesheet" href="/static/css/elements/form-login.css">
    <link rel="stylesheet" href="/static/css/elements/account.css">
{{end}}

{{define "main"}}
    <form class="account">
        <ul class="account__list">
            <li class="account__item">
                <div>Name:</div>
                <div><input type="text" placeholder="{{.User.Name}}"></div>
            </li>
            <li class="account__item">
                <div>Nickname:</div>
                <div><input type="text" placeholder="{{.User.Nickname}}"></div>
            </li>
            <li class="account__item">
                <div>Email:</div>
                <div><input type="text" placeholder="{{.User.Email}}"></div>
            </li>
            <li class="account__item">
                <div><input type="submit" value="Save Changes"></div>
            </li>
        </ul>
    </form>
{{end}}

{{define "footer"}}
{{end}}