{{define "styles"}}
    <link rel="stylesheet" href="/static/css/elements/form-login.css">
    <link rel="stylesheet" href="/static/css/elements/account.css">
{{end}}

{{define "main"}}
    <form class="account" action="/user/update_balance" method="POST">
        <input name='csrf_token' value='{{.CSRFToken}}' type="hidden">
        <ul class="account__list">
            <li class="account__item">
                <div>Current balance: {{.User.Balance}}$:</div>
                <div><input type="number"></div>
            </li>
            <li></li>
            <li class="account__item">
                <div><input type="submit" value="Save Changes"></div>
            </li>
        </ul>
    </form>
{{end}}

{{define "footer"}}
{{end}}