    {{define "styles"}}
    <link rel="stylesheet" href="/static/css/elements/form-login.css">
{{end}}

{{define "main"}}
    <form class="account" action="/user/change_password" method="POST">
        <input name='csrf_token' value='{{.CSRFToken}}' type="hidden">
        <ul class="account__list">
            <li class="account__item">
                <div>Password:</div>
                <div><input type="password" name="password"></div>
            </li>
            <li class="account__item">
                <div>Repeat password:</div>
                <div><input type="password" name="rePassword"></div>
            </li>
            <li class="account__item">
                <div><input type="submit" value="Save Changes"></div>
            </li>
        </ul>
    </form>
    <section class="error">
        {{with .Form.FieldErrors.password}}
            {{.}}
        {{end}}
    </section>
{{end}}

{{define "footer"}}
{{end}}