    {{define "styles"}}
    <link rel="stylesheet" href="/static/css/elements/form-login.css">
{{end}}

{{define "main"}}
    <form class="account">
        <ul class="account__list">
            <li class="account__item">
                <div>Password:</div>
                <div><input type="password" placeholder="Zaur Berdibekov"></div>
            </li>
            <li class="account__item">
                <div>Repeat password:</div>
                <div><input type="text" placeholder="zaurito"></div>
            </li>
            <li class="account__item">
                <div><input type="submit" value="Save Changes"></div>
            </li>
        </ul>
    </form>
{{end}}

{{define "footer"}}
{{end}}