{{define "styles"}}
    <link rel="stylesheet" href="">
    <link rel='stylesheet' href='/static/css/partials/footer.css'>
{{end}}

{{define "main"}}
    {{with .Game}}
       {{.Name}}
       {{.AuthorName}}
       {{.Description}}
       {{.Cost}}
       {{.ReleaseDate.Day}}, {{.ReleaseDate.Year}}{{.ReleaseDate.Year}}
{{/*        тут хуман дейт над поменять*/}}
    {{end}}
{{end}}

{{define "footer"}}
<footer class="footer">
<ul class="footer__list">
<li class="footer__item">
<a href="https://github.com/jaksil1k">
Site of creator
</a>
</li>
<li class="footer__item">Copyright © 2022 All Rights Reserved</li>
<li class="footer__item">+7 (777) 777-77-77</li>
</ul>
</footer>
{{end}}