{{define "styles"}}
    <link rel='stylesheet' href='/static/css/partials/footer.css'>
    <link rel='stylesheet' href='/static/css/elements/game.css'>
{{end}}

{{define "main"}}

    <section class="game">
        {{if .Game}}
            <div class="game__info">
                <div class="game__img">
                    <img src="/static/img/{{.Game.ImageName}}"
                         alt="no content">
                </div>
                <div class="game__data">
                    <div>
                        <p>Name:</p>
                        <p>{{.Game.Name}}</p>
                    </div>
                    <div>
                        <p>Release Date:</p>
                        <p>{{.Game.ReleaseDate.Day}}, {{.Game.ReleaseDate.Month}}, {{.Game.ReleaseDate.Year}}</p>
                        {{/*        тут хуман дейт над поменять*/}}
                    </div>
                    <div>
                        <p>Author:</p>
                        <p><a href="/user/view/{{.Game.CreatedBy}}">{{.Game.AuthorName}}</a></p>
                    </div>
                    <div>
                        <form action="/game/purchase/{{.Game.ID}}" method="POST">
                            <input name='csrf_token' value='{{.CSRFToken}}' type="hidden">
                            <input type="submit" value="Buy ({{.Game.Cost}}$)">
                        </form>
                    </div>
                </div>
            </div>
            <div class="game__description">
                <h4>Description</h4>
                {{.Game.Description}}


            </div>
        {{end}}
    </section>


{{end}}

{{define "footer"}}
    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__item">
                <a href="https://github.com/jaksil1k">
                    Site of creator
                </a>
            </li>
            <li class="footer__item">Copyright © 2022 All Rights Reserved</li>
            <li class="footer__item">+7 (777) 777-77-77</li>
        </ul>
    </footer>
{{end}}