{{define "styles"}}
    <link rel="stylesheet" href="/static/css/elements/form-login.css">
{{end}}

{{define "main"}}
    <form class='form-login' action='' method='POST' novalidate>
        <div>
            <label>Name:</label>
            <input type='email' name='email' value=''>
        </div>
        <div>
            <label>Cost:</label>
            <input type='password' name='password'>
        </div>
        <div>
            <label>Description:</label>
            <textarea name="w3review" rows="4" cols="50"></textarea>
        </div>
        <div>
            <input type='submit' value='Login'>
        </div>
    </form>
{{end}}