{{define "styles"}}
    <link rel='stylesheet' href='/static/css/elements/cards.css'>
    <link rel='stylesheet' href='/static/css/partials/footer.css'>
{{end}}
{{define "main"}}
    <h2>Latest releases</h2>
    {{if .Games}}
        <section class="cards">
            {{range .Games}}
                <a href="/game/view/{{.ID}}" class="cards__card">
                    <img src="/static/img/dota_poster.webp"
                         alt="Poster">
                    <div class="cards__card__content">
                        <p>
                            <span class="cards__card__game-name">{{.Name}}</span>
                            <span class="cards__card__author-name">by {{.AuthorName}}</span>
                        </p>
                    </div>
                    <footer>
                        {{if ne .Cost 0}}
                            {{.Cost}}$
                        {{else}}
                            Free
                        {{end}}
                    </footer>
                </a>
            {{end}}
        </section>
    {{else}}
        <p>There's no games yet, be the first!</p>
    {{end}}
{{end}}