{{define "styles"}}
    <link rel='stylesheet' href='/static/css/elements/cards.css'>
    <link rel='stylesheet' href='/static/css/partials/footer.css'>
{{end}}
{{define "main"}}
    <h1>Latest releases</h1>

    {{if .Games}}
        <section class="cards">
            {{range .Games}}
                <a href="/game/view/{{.ID}}" class="cards__card">
                    <div>
                        <img src="/static/img/{{.ImageName}}" alt="Poster">
                    </div>
                    <div class="cards__card__content">
                        <span class="cards__card__game-name">{{.Name}}</span>
                        <span class="cards__card__game-name">by {{.AuthorName}}</span>
                    </div>
                    <footer class="cards__card__game-price">
                        {{if ne .Cost 0}}
                            {{.Cost}}$
                        {{else}}
                            Free
                        {{end}}
                    </footer>
                </a>
            {{end}}
        </section>
    {{else}}
        <p>There's no games yet, be the first!</p>
    {{end}}
{{end}}
{{define "footer"}}
    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__item">
                <a href="https://github.com/jaksil1k">
                    Site of creator
                </a>
            </li>
            <li class="footer__item">Copyright © 2022 All Rights Reserved</li>
            <li class="footer__item">+7 (777) 777-77-77</li>
        </ul>
    </footer>
{{end}}