{{define "styles"}}
    <link rel="stylesheet" href="/static/css/elements/account.css">
    <link rel='stylesheet' href='/static/css/partials/footer.css'>
{{end}}
{{define "main"}}

    <h1>Your Profile</h1>
    {{with .User}}
    <section class="account">
        <ul class="account__list">
            <li class="account__item">
                <div>Name:</div>
                <div>{{.Name}}</div>
            </li>
            <li class="account__item">
                <div>Nickname:</div>
                <div>{{.Nickname}}</div>
            </li>
            <li class="account__item">
                <div>Email:</div>
                <div>{{.Email}}</div>
            </li>
        </ul>
    </section>
    {{end}}

    <section class="cards">
        <ul class="cards__list">
            <li class="cards__item">
                <div>Created Games</div>
            </li>
            <li class="cards__item">
                <div>None</div>
            </li>
            <li class="cards__item">
                <div>Bought Games</div>
            </li>
            <li class="cards__item">
                <div>None</div>
            </li>
        </ul>
    </section>
{{end}}

{{define "footer"}}
<footer class="footer">
<ul class="footer__list">
<li class="footer__item">
<a href="https://github.com/jaksil1k">
Site of creator
</a>
</li>
<li class="footer__item">Copyright © 2022 All Rights Reserved</li>
<li class="footer__item">+7 (777) 777-77-77</li>
</ul>
</footer>
{{end}}