{{define "styles"}}
    <link rel="stylesheet" href="/static/css/elements/form-login.css">
{{end}}

{{define "main"}}
    <form class='form-login' action='' method='POST' novalidate>
        <div>
            <label>Name:</label>
            <input type='text' name='name' value=''>
        </div>
        <div>
            <label>Nickname:</label>
            <input type='text' name='nickname' value=''>
        </div>
        <div>
            <label>Email:</label>
            <input type='email' name='email' value=''>
        </div>
        <div>
            <label>Password:</label>
            <input type='password' name='password'>
        </div>
        <div>
            <input type='submit' value='Signup'>
        </div>
    </form>
{{end}}

{{define "footer"}}
{{end}}