z{{define "styles"}}
    <link rel="stylesheet" href="/static/css/elements/account.css">
    <link rel='stylesheet' href='/static/css/partials/footer.css'>
{{end}}
{{define "main"}}

    <h1>Your Profile</h1>
    {{if .User}}
        <section class="account">
            <ul class="account__list">
                <li class="account__item">
                    <div>Name:</div>
                    <div>{{.User.Name}}</div>
                </li>
                <li class="account__item">
                    <div>Nickname:</div>
                    <div>{{.User.Nickname}}</div>
                </li>
                <li class="account__item">
                    <div>Email:</div>
                    <div>{{.User.Email}}</div>
                </li>
                {{if eq .User.ID .UserId }}
                    <li class="account__item">
                        <div>
                            <a class="profile-button" href="/user/change_info">Change Info</a>
                        </div>
                    </li>
                    <li class="account__item">
                        <div>Balance:</div>
                        <div>{{.User.Balance}}$</div>
                    </li>
                    <li class="account__item">
                        <a class="profile-button" href="/user/update_balance">Up Balance</a>
                    </li>
                    <li class="account__item">
                        <a class="profile-button" href="/user/change_password">Change Password</a>
                    </li>
                {{end}}
            </ul>
        </section>
    {{end}}

    <section class="cards">
        <ul class="cards__list">
            <li class="cards__item">
                <div>Created Games</div>
            </li>
            <li class="cards__item">
                <div>
                    {{if .CreatedGames}}
                        <section class="cards">
                            {{range .CreatedGames}}
                                <a href="/game/view/{{.ID}}" class="cards__card">
                                    <div>
                                        <img src="/static/img/no_photo.jpg" alt="Poster">
                                    </div>
                                    <div class="cards__card__content">
                                        <span class="cards__card__game-name">{{.Name}}</span>
                                        <span class="cards__card__game-name">by {{.AuthorName}}</span>
                                    </div>
                                    <footer class="cards__card__game-price">
                                        {{if ne .Cost 0}}
                                            {{.Cost}}$
                                        {{else}}
                                            Free
                                        {{end}}
                                    </footer>
                                </a>
                            {{end}}
                        </section>
                    {{else}}
                        <p>There's no games yet.</p>
                    {{end}}
                </div>
            </li>
            {{if eq .User.ID .UserId }}
                <li class="cards__item">
                    <div>Bought Games</div>
                </li>
                <li class="cards__item">
                    <div>None</div>
                </li>
            {{end}}
        </ul>
    </section>
{{end}}

{{define "footer"}}
    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__item">
                <a href="https://github.com/jaksil1k">
                    Site of creator
                </a>
            </li>
            <li class="footer__item">Copyright © 2022 All Rights Reserved</li>
            <li class="footer__item">+7 (777) 777-77-77</li>
        </ul>
    </footer>
{{end}}