@import "../variables"

.nav
  &__list
    list-style-type: none
    margin: 0
    display: grid
    grid-template-columns: 1fr 1fr
    justify-content: center
    justify-items: center
    align-content: center
    align-items: center
    padding: 2rem 0
    gap: 3rem
  &__item
    font-size: 1rem
    &:nth-child(3)
      display: none
  &__button
    border: 2px solid $burgundy
    border-radius: 100px
    padding: 5px 1.2rem 10px
  &__link
    font-size: 1rem

@media (min-width: $sm)
  .nav
    &__link
      font-size: 2.5rem

@media (min-width: $md)
  .nav
    &__link
      font-size: 2rem
    &__item
      &:nth-child(3)
        display: block
