{{define "base"}}
    <!doctype html>
    <html lang='en'>
    <head>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/static/css/general/main.css'>
        <link rel='stylesheet' href='/static/css/general/reset.css'>
        <link rel='stylesheet' href='/static/css/partials/nav.css'>
        {{template "styles" .}}
    </head>
    <body>
    {{template "nav" .}}
    {{template "main" .}}
    {{template "footer" .}}
    <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
    </html>
{{end}}