{{define "footer"}}
    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__item">
                <a href="https://github.com/jaksil1k">
                    Site of creator
                </a>
            </li>
            <li class="footer__item">Copyright © 2022 All Rights Reserved</li>
            <li class="footer__item">+7 (777) 777-77-77</li>
        </ul>
    </footer>
{{end}}