{{ define "nav" }}
<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item">
            <a class="nav__link" href="/">
                IOyin
            </a>
        </li>
        <li class="nav__item">
            <a class="nav__button" href="/user/create">Signup</a>
            <a class="nav__button" href="/login.html">Login</a>
            <a class="nav__button" href="/user/view">Account</a>
            <a class="nav__button" href="#">Logout</a>
        </li>
    </ul>
</nav>
{{end}}